@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import "./variable";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.container2{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    @media (max-width: 450px){
        width: 90%;
    }
}

@mixin btn(){
    padding: 1rem 2rem;
    background: #273895;
    color: white;
    border-radius: 0.8rem;
}

@mixin paragrf(){
    font-size: 0.9rem;
    color: $titlecolor;
    line-height: 150%;
    @media (max-width: 450px){
        font-size: 0.8rem;
    }
}

@mixin headingh2(){
    font-size: 1.2rem;
    color: $titlecolor;
    @media (max-width:900px){
        font-size: 1rem;
    }
}

@mixin yechim(){
    padding: 1rem;
    display: flex; flex-direction: column; align-items: center;
    .tbtn1, .tbtn2{
        padding: 1rem 0;
        color: rgba(39, 65, 208, 1);
        font-size: 1rem;
    }
    .tbtn2{
        @include btn();
    }
}